In [1]:
#Print each character of your name in reverse order

name = "Ayush"
for char in reversed(name):
    print(char, end=" ")

h s u y A

In [2]:
#Print reverse 10 to 1

for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [3]:
#Print only names starting with 'A' in List1 = ['Ajay','Sam','John']. Hint: use if name[0]=='A'

List1 = ['Ajay', 'sonu', 'mahi']
for name in List1:
    if name[0] == 'A':
        print(name)

Ajay

In [4]:
#Reverse a string i.e. s = "hello" → "olleh"

s = "hello"
reversed_s = s[::-1]
print(reversed_s)

olleh

In [9]:
#Reverse a number using for loop. i.e. 12345 → 54321

num = 54321
reversed_num = 0
for digit in str(num):
    reversed_num = reversed_num * 10 + int(digit)
print(reversed_num)

54321

In [10]:
#Print this pattern:

for i in range(1, 6):
    print(str(i) * i)

1
22
333
4444
55555

In [11]:
#Count the number of vowels in a given string.

s = "hello world"
vowels = "aeiouAEIOU"
count = 0
for char in s:
    if char in vowels:
        count += 1
print(count)

3

In [13]:
#Find the maximum element in a list without using max().

lst = [3, 2, 4, 1, 5, 9, 10]
max_element = lst[0]
for num in lst:
    if num > max_element:
        max_element = num
print(max_element)

10

In [15]:
#Print all numbers from 1 to 50 which are divisible by 3 and 5.

for i in range(1, 40):
    if i % 3 == 0 and i % 5 == 0:
        print(i, end=" ")

15 30

In [19]:
#Difference between break, continue, and pass with example.

# break
for i in range(5):
    if i == 3:
        break
    print(i, end=" ")

0 1 2

In [21]:
# continue
for i in range(5):
    if i == 5:
        continue
    print(i, end=" ")

0 1 2 3 4

In [24]:
# pass
for i in range(5):
    if i == 3:
        pass
    print(i, end=" ")

0 1 2 3 4

In [27]:
#Print sum of even numbers 1 to 100

sum_even = 0
for i in range(2, 100, 2):
    sum_even += i
print(sum_even)

2450

In [30]:
#List with and without index

print("List iteration:")
fruits = ["apple", "banana", "cherry"]
print("   Direct →", end=" ")
for f in fruits:
    print(f, end=" ")
print()
print("   With index →", end=" ")
for i in range(len(fruits)):
    print(i, fruits[i], end=" | ")
print("\n")

List iteration:
   Direct → apple banana cherry
   With index → 0 apple | 1 banana | 2 cherry |